---
import MainLayout from "../layouts/MainLayout.astro";


---

<MainLayout>
    <header class="page-header">
        <h1>Background and Expertise</h1>
    </header>

    <section class="page-section">
        <p>I have four years of experience as a Virtual Assistant and Social Media Manager, specializing in design, media marketing, and graphics. I’ve worked across different industries, including healthcare, real estate, and education, honing my skills in creating promotional graphics, logos, video editing, website and landing page design, social media marketing, and ad campaigns.</p>

        <p>My background in BPO (Business Process Outsourcing) strengthened my communication skills, while my passion for digital art led me to take on commissioned projects using Adobe Photoshop, Canva, and Illustrator. Running a small business also allowed me to refine my branding, marketing strategies, and content creation skills.</p>

        <p>Additionally, as a streamer and content creator, I developed expertise in audience engagement, digital storytelling, and visual marketing. My experience in various creative and marketing roles has shaped my ability to deliver impactful designs and media strategies that help brands grow their online presence.</p>
    </section>
</MainLayout>
