---
import MainLayout from "../layouts/MainLayout.astro";


---

<MainLayout>
    <header class="page-header">
        <h1>Qualifications</h1>
    </header>

    <section class="page-section">
        <p>In summary, I believe I am a strong fit for this field, not just based on my experience as a virtual assistant and the necessary skills but primarily due to my sincere dedication. I extend beyond completing tasks and actively collaborate with clients, aiming for a personalized and cooperative approach. </p>

        <p>I aspire to contribute further and strengthen my capabilities. I firmly believe in my adaptability, ability to work under pressure, and resourcefulness. If faced with unfamiliar tasks, I am committed to going beyond my resources and conducting thorough research. Importantly, I don't merely work out of obligation but invest value and meaning into my tasks. I am dedicated to completing assignments with effort and am committed to continuous self-improvement.</p>
    </section>
</MainLayout>
