@layer reset, base, layout, utilities, components, general, overrides;

@layer reset {
  * {
    margin: 0;
    padding: 0;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  img,
  picture,
  svg {
    display: block;
    max-width: 100%;
  }

  button,
  input,
  select,
  textarea {
    min-width: 0px;
    max-width: 100%;
    font: inherit;
  }

  button {
    cursor: pointer;
  }
}

@layer base {
  :root {
    --clr-primary: #012b55;

    --clr-light-neutral: #fafafa;
    --clr-dark-neutral: #333333;

    --max-width: 1536px; /* from tailwind breakpoints */
    --spacing: 1em;

    --sans-serif: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;

    interpolate-size: allow-keywords;
  }

  body {
    font-family: var(--sans-serif);
    color: var(--clr-primary);
    background-color: var(--clr-light-neutral);
  }
}

@layer layout {
  body {
    isolation: isolate;
    overflow-x: clip;

    max-width: var(--max-width);
    margin-inline: auto;
  }

  @media screen and (width > 1024px) {
    body {
      display: grid;
      grid-template-columns: 330px 1fr;
    }
  }

  #main-header {
    position: relative;

    z-index: 2;
    isolation: isolate;

    & ul {
      list-style: none;

      &.socials,
      &.main-nav {
        padding-inline: calc(var(--spacing) * 2);
      }
    }

    & a {
      text-decoration: none;
      color: inherit;
    }

    & > p {
      font-weight: 600;
      font-size: clamp(1.25rem, 5vw, 1.625rem);
      padding-block: calc(var(--spacing) * 2);
      padding-inline: calc(var(--spacing) * 1);
    }

    & > nav {
      transition: translate 100ms ease-in-out;
    }

    & .main-nav {
      display: flex;
      flex-flow: column nowrap;
      gap: var(--spacing);

      justify-content: start;
      align-items: start;
      text-align: left;

      & > li > a {
        font-weight: 600;
      }

      & li > ul {
        margin-block-start: var(--spacing);

        display: flex;
        flex-flow: column nowrap;
        gap: calc(var(--spacing) / 2);

        font-size: 0.925rem;
      }
    }

    & .socials {
      padding-block: var(--spacing);
      margin-block-start: var(--spacing);

      display: flex;
      flex-flow: row wrap;
      justify-content: start;
      align-items: center;
      gap: var(--spacing);

      & a {
        display: block;
        width: max-content;
        height: max-content;

        padding: calc(var(--spacing) / 2);
        background-color: lightgray;
        border-radius: 4px;

        transition: background-color 100ms ease-in-out;

        &:hover {
          background-color: hsl(from lightgray h s calc(l - 10));
        }
      }

      & .icon {
        display: block;
        aspect-ratio: 1 / 1;
        width: 1rem;

        & svg {
          width: 100%;
        }
      }
    }

    & #main-nav-btn {
      display: none;
    }
  }

  @media screen and (width <= 1024px) {
    #main-header {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      overflow-x: clip;

      & > p {
        padding-block: calc(var(--spacing) * 1);
      }

      &:has(#main-nav-btn[aria-expanded="true"]) nav {
        translate: 0% 0%;

        & ul {
          visibility: visible;
        }
      }

      &:has(#main-nav-btn[aria-expanded="false"]) nav {
        translate: 100% 0%;

        & ul {
          visibility: hidden;
        }
      }

      & > nav {
        position: absolute;
        inset-block-start: 100%;
        inset-inline: 0;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;

        height: calc(100vh - 86.4px);
        background-color: var(--clr-light-neutral);
        box-shadow: 1px 1px 1px hsl(0, 0%, 0%, 0.15);
      }

      & .main-nav {
        height: 100%;
        overflow-y: auto;

        justify-content: center;
        align-items: center;
        text-align: center;
      }

      & .socials {
        margin-block-start: 0px;

        justify-content: center;

        border-block-start: 1px solid hsl(0, 0%, 0%, 0.125);
        background-color: var(--clr-light-neutral);
      }

      & #main-nav-btn {
        display: block;
        padding: calc(var(--spacing) * 1);
        aspect-ratio: 1 / 1;
        place-content: center;

        background-color: transparent;
        border: none;

        & .icon {
          display: grid;
          grid-template-columns: 1fr;
          gap: calc(var(--spacing) / 4);
          place-items: center;

          width: 1.5rem;

          & span {
            width: 100%;
            height: 2px;
            background-color: var(--clr-dark-neutral);
          }
        }
      }
    }
  }

  #socials {
    padding-inline: var(--spacing);
    padding-block: var(--spacing);

    & .socials {
      list-style: none;

      padding-block: var(--spacing);

      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: var(--spacing);

      & a {
        display: block;
        width: max-content;
        height: max-content;

        padding: calc(var(--spacing) / 2);
        background-color: lightgray;
        border-radius: 4px;

        transition: background-color 100ms ease-in-out;

        &:hover {
          background-color: hsl(from lightgray h s calc(l - 10));
        }
      }

      & .icon {
        display: block;
        aspect-ratio: 1 / 1;
        width: 1rem;

        & svg {
          width: 100%;
        }
      }

      @media screen and (width > 1024px) {
        padding-block: calc(var(--spacing) * 4);
      }
    }
  }

  #back-to-top {
    z-index: 3;

    position: fixed;
    bottom: calc(var(--spacing) * 2);
    right: calc(var(--spacing) * 2);

    aspect-ratio: 1 / 1;
    width: 50px;
    padding: calc(var(--spacing) / 1.5);
    background-color: hsl(0, 0%, 50%, 0.25);
    border-radius: 4px;

    transition: background-color 100ms ease-in-out;

    &:hover {
      background-color: hsl(0, 0%, 50%, 0.75);
    }
  }

  html:has(body[data-loading="true"]) {
    cursor: wait;
  }

  #loader {
    position: fixed;
    inset: 0;
    height: 100dvh;
    z-index: 4;
    background-color: var(--clr-light-neutral);
    isolation: isolate;

    [data-loading="false"] & {
      animation: loaded 250ms ease-in-out 100ms forwards;

      &::before {
        animation: fullbar 100ms ease-in-out forwards;
      }
    }

    &::before {
      display: block;
      content: "";
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      width: 2%;
      height: calc(var(--spacing) / 4);
      background-image: linear-gradient(
        to right,
        var(--clr-primary),
        hsl(from var(--clr-primary) h s calc(l + 10))
      );
      background-size: 200% 100%;

      transition: width 100ms ease-in-out;
      animation: halfbar 100ms ease-in-out forwards,
        gradient 2s ease-in-out infinite;
    }
  }

  @keyframes loaded {
    to {
      opacity: 0;
      visibility: hidden;
      z-index: -1;
    }
  }

  @keyframes halfbar {
    to {
      width: 30%;
    }
  }
  @keyframes fullbar {
    to {
      width: 100%;
    }
  }

  @keyframes gradient {
    from {
      background-position: 100% 0;
    }
    to {
      background-position: -100% 0;
    }
  }

  #image-spotlight {
    inset: 0;
    margin: auto;
    width: min(100%, 100vw);
    height: min(100%, 100vh);
    max-height: 90vh;
    max-width: 90vw;
    border: none;
    background-color: transparent;

    &::backdrop {
      background-color: hsl(0, 0%, 100%, 0.9);
    }

    & > .container {
      position: relative;
      isolation: isolate;
      height: 100%;
      max-height: 100%;
      overflow: auto;

      place-items: center;
      place-content: center;

      overscroll-behavior: contain;
    }

    &[data-loading="true"] img {
      opacity: 0;
    }
    &[data-loading="false"] img {
      opacity: 1;
    }

    & img {
      object-fit: contain;
      transition: opacity 250ms ease-in-out;
    }

    & button {
      display: block;
      border: none;

      &:not([data-type="image"]) {
        padding: calc(var(--spacing) / 2);
      }

      &[data-type="image"] {
        position: relative;
        min-width: 5px;
        min-height: 5px;
        max-height: 100%;

        &[aria-expanded="false"] {
          z-index: 1;
          cursor: zoom-in;

          & img {
            height: 100%;
            max-height: calc(90vh - 5px);
            width: auto;
          }
        }
        &[aria-expanded="true"] {
          z-index: 3;
          cursor: zoom-out;

          & img {
            width: 100vw;
            height: auto;
            max-height: unset;
          }
        }
      }

      &[data-type="next"],
      &[data-type="prev"] {
        position: absolute;
        inset-block: 0;
        height: 100%;
        width: 30%;
        z-index: 2;

        background-color: hsl(0, 0%, 100%, 0.125);
      }

      &[data-type="next"] {
        place-items: end;
        right: 0;
      }
      &[data-type="prev"] {
        left: 0;
      }

      &[data-type="close"] {
        position: absolute;
        top: calc(var(--spacing) / 1);
        right: calc(var(--spacing) / 1);
        z-index: 4;
      }
    }

    & .icon {
      display: block;
      width: 2rem;
      aspect-ratio: 1 / 1;
      place-content: center;

      & svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@layer utilities {
  .sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }

  .text-center {
    padding-inline: var(--spacing);
    text-align: center;
    max-width: 92ch;
    margin-inline: auto;
  }

  .fw-600 {
    font-weight: 600;
  }

  .my-1 {
    margin-block: var(--spacing);
  }
  .mb-1 {
    margin-block: var(--spacing);
  }
  .my-2 {
    margin-block: calc(var(--spacing) * 2);
  }
  .mb-2 {
    margin-block: calc(var(--spacing) * 2);
  }
  .my-4 {
    margin-block: calc(var(--spacing) * 4);
  }
  .mb-4 {
    margin-block-end: calc(var(--spacing) * 4);
  }

  .image-contain {
    object-fit: contain;
  }

  .h-auto {
    height: auto;
  }
  .w-auto {
    width: auto;
  }

  .mx-auto {
    margin-inline: auto;
  }

  .display-block {
    display: block;
  }
}

@layer components {
  .page-header {
    padding-block: calc(var(--spacing) * 4);
    padding-inline: calc(var(--spacing) * 2);

    text-align: center;

    & h1,
    p {
      max-width: 92ch;
      margin-inline: auto;
    }

    & h1 {
      font-size: 1rem;
      font-weight: 600;
    }

    & p {
      margin-block-start: calc(var(--spacing) * 1);

      &:first-of-type {
        margin-block-start: calc(var(--spacing) * 3);
      }
    }

    @media screen and (width > 1024px) {
      padding-block: calc(var(--spacing) * 6);

      & h1 {
        font-size: 1.625rem;
      }
    }
  }

  .page-section {
    padding-inline: var(--spacing);
    text-align: center;

    & p {
      max-width: 92ch;
      margin-block-end: var(--spacing);
      margin-inline: auto;
    }
  }
}
